# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython build artifacts
*.c
*.cpp
*.so
*.pyd
src/cosmotoolpy/*.html

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
*.ipynb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS / Unix system files
.DS_Store
*.swp

# Data files (optional: 如果你希望忽略所有输出文件)
*.pdf
# *.dat
# *.txt
# output/